<% provide(:title, "Home") %>
<!DOCTYPE html>

<html>
  <head>
    <title><%= yield(:title) %> | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h2>Hello, Home Page!</h2>
  </body>
</html>